<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xml:lang="ja"
    layout:decorate="~{user/user_layout}">

<head>
    <meta charset="UTF-8" />

</head>

<body>
    <div layout:fragment="admin-menu" class="d-flex gap-2">
        <a th:href="@{/admin/survey}" class="btn btn-sm btn-outline-secondary">
            <i class="bi bi-clipboard-data me-1 pe-none"></i>
            <span class="d-none d-md-inline pe-none">アンケート管理</span>
        </a>

        <a th:href="@{/admin/result}" class="btn btn-sm btn-outline-secondary">
            <i class="bi bi-chat-left-text me-1 pe-none"></i>
            <span class="d-none d-md-inline pe-none">回答管理</span>
        </a>

        <a th:href="@{/admin/account/list(page=0)}" class="btn btn-sm btn-outline-secondary">
            <i class="bi bi-people-fill me-1 pe-none"></i>
            <span class="d-none d-md-inline pe-none">ユーザー管理</span>
        </a>
    </div>
</body>

</html>