<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rk_aiz.teamsurvey.infrastructure.mapper.mybatis.LoginUserMapper">

    <!-- 
		マッピング定義 (ResultMap)
    -->
    <resultMap id="LoginUserResultMap" type="com.github.rk_aiz.teamsurvey.domain.model.LoginUser">
        <id property="username" column="username" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="display_name" column="display_name" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <collection property="assignedGroups" ofType="com.github.rk_aiz.teamsurvey.domain.model.UserGroup">
            <id property="groupId" column="group_id" />
            <result property="groupName" column="group_name" />
            <result property="authority" column="authority"/>
            <result property="isSystemGroup" column="is_system_group" />
        </collection>
    </resultMap>

    <!-- 全件取得: 直接ドメインモデルのリストを取得する -->
    <select id="selectAll" resultMap="LoginUserResultMap">
        SELECT 
            username, 
            password, 
            email, 
            display_name,
            enabled,
            created_at,
            updated_at,
            ug.id as group_id,
            ug.group_name,
            ug.authority,
            ug.is_system_group
        FROM authentications
        LEFT JOIN user_group_mappings as map
          ON username = username
        LEFT JOIN user_groups as ug
          ON map.group_id = ug.id
        ORDER BY username
    </select>

    <!-- ページネーション付き取得: 1対多の結合があるためサブクエリで絞り込む -->
    <select id="findWithPaging" resultMap="LoginUserResultMap">
        SELECT 
            t1.username, 
            t1.password, 
            t1.email, 
            t1.display_name,
            t1.enabled,
            t1.created_at,
            t1.updated_at,
            ug.id as group_id,
            ug.group_name,
            ug.authority,
            ug.is_system_group
        FROM (
            SELECT * FROM authentications
            ORDER BY username
            LIMIT #{limit} OFFSET #{offset}
        ) as t1
        LEFT JOIN user_group_mappings as map
          ON t1.username = map.username
        LEFT JOIN user_groups as ug
          ON map.group_id = ug.id
        ORDER BY t1.username
    </select>

    <select id="count" resultType="long">
        SELECT count(*) FROM authentications
    </select>
</mapper>