<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rk_aiz.teamsurvey.infrastructure.mapper.mybatis.QuestionMapper">

    <resultMap id="QuestionResultMap" type="com.github.rk_aiz.teamsurvey.infrastructure.entity.QuestionEntity">
        <id property="id" column="id" />
        <result property="surveyId" column="survey_id" />
        <result property="text" column="question_text" />
        <result property="type" column="question_type" />
        <result property="required" column="is_required" />
        <result property="displayOrder" column="display_order" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="answerPatternId" column="answer_pattern_id" />
    </resultMap>

    <select id="selectAll" resultMap="QuestionResultMap">
        SELECT *
        FROM questions q
        ORDER BY q.display_order
    </select>

    <select id="selectById" resultMap="QuestionResultMap">
        SELECT *
        FROM questions q
        WHERE q.id = #{id}
    </select>

    <select id="selectBySurveyId" resultMap="QuestionResultMap">
        SELECT *
        FROM questions q
        WHERE q.survey_id = #{surveyId}
        ORDER BY q.display_order
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO questions (
            survey_id,
            answer_pattern_id,
            question_text,
            question_type,
            is_required,
            display_order,
            is_deleted
        ) VALUES (
            #{surveyId},
            #{answerPatternId},
            #{text},
            #{type},
            #{required},
            #{displayOrder},
            #{isDeleted}
        )
    </insert>

    <update id="update">
        UPDATE questions 
            SET survey_id = #{surveyId}, 
                answer_pattern_id = #{answerPatternId},
                question_text = #{text}, 
                question_type = #{type}, 
                is_required = #{required}, 
                display_order = #{displayOrder}, 
                is_deleted = #{isDeleted}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM questions 
        WHERE id = #{id} 
    </delete>
    
    <delete id="deleteBySurveyId">
        DELETE FROM questions 
        WHERE survey_id = #{surveyId} 
    </delete>

</mapper>