<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rk_aiz.teamsurvey.infrastructure.mapper.mybatis.ResponseMapper">

    <resultMap id="ResponseResultMap" type="com.github.rk_aiz.teamsurvey.infrastructure.entity.ResponseEntity">
        <id property="id" column="id" />
        <result property="enqueteId" column="enquete_id" />
        <result property="userId" column="user_id" />
        <result property="distributionTokenId" column="distribution_token_id" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        
        <!-- ResponseDetailとの結合 -->
        <collection property="responseDetails" ofType="com.github.rk_aiz.teamsurvey.infrastructure.entity.ResponseDetailEntity">
            <id property="id" column="rd_id" />
            <result property="responseId" column="response_id" />
            <result property="questionId" column="question_id" />
            <result property="answerPatternItemId" column="answer_pattern_item_id" />
            <result property="answerText" column="answer_text" />
        </collection>
    </resultMap>

    <!-- 共通のSELECT句 -->
    <sql id="selectColumns">
        r.id,
        r.enquete_id,
        r.user_id,
        r.distribution_token_id,
        r.status,
        r.created_at,
        r.updated_at,
        rd.id as rd_id,
        rd.question_id,
        rd.answer_pattern_item_id,
        rd.answer_text
    </sql>

    <!-- 全件取得: ここでは回答リストは取得せず、軽量にする -->
    <select id="selectAll" resultType="com.github.rk_aiz.teamsurvey.infrastructure.entity.ResponseEntity">
    	SELECT id, enquete_id, user_id, 
    		distribution_token_id, status,
    		created_at, updated_at 
    	FROM responses ORDER BY id
    </select>

    <select id="selectById" resultMap="ResponseResultMap">
        SELECT <include refid="selectColumns" />
        FROM responses r
        LEFT JOIN response_details as rd 
        ON r.id = rd.response_id
        WHERE r.id = #{id}
    </select>

    <select id="selectByEnqueteId" resultMap="ResponseResultMap">
        SELECT <include refid="selectColumns" />
        FROM responses r
        LEFT JOIN response_details as rd 
        ON r.id = rd.response_id
        WHERE r.enquete_id = #{enqueteId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO responses (
        	enquete_id, 
        	user_id, 
        	distribution_code_id, 
        	created_at, 
        	updated_at
        ) VALUES (
        	#{enqueteId}, 
        	#{userId}, 
        	#{distributionTokenId}, 
        	#{createdAt}, 
        	#{updatedAt})
    </insert>

    <update id="update">
        UPDATE responses
           SET enquete_id = #{enqueteId}, 
				question_text = #{text}, status = #{status}::response_status, updated_at = CURRENT_TIMESTAMP
		WHERE id = #{id}
    </update>

    <delete id="delete"> DELETE FROM responses WHERE id = #{id} </delete>

</mapper>